@model List<CarWash1._0.Models.VehiculoModel>
<h2>Vehiculos</h2>
<button class="btn btn-primary">
    <i class="fas fa-user-plus"></i> Nuevo
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Vehiculo</th>
            <th>Id Cliente</th>
            <th>Id Marca</th>
            <th>Año</th>
            <th>Placa</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Model)
        {
            <tr>
                <td>@vehiculo.IdVehiculo</td>
                <td>@vehiculo.IdCliente</td>
                <td>@vehiculo.IdMarca</td>
                <td>@vehiculo.Anio</td>
                <td>@vehiculo.Placa</td>
                <td>@vehiculo.Estado</td>
                <td>
                    <a class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> </a>
                    <a class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>